/* Global */
html {
    /* Taille de police fixée à 1em pour toute la page. */
    font-size: 1em;
}

body {
    margin: 0;
    background-color: rgba(201, 202, 217, 0.50);
}

/* En-tête */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

div#banner {
    background: url('banner.jpg') repeat-x;
    height: 120px;
}

span#company {
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

nav#menu {
    background-color: #A9B4C2;
    display: inline-flex;
    width: 100%;
}

nav#menu a {
    color: #C57B57;
    font-size: 1.4rem;
    text-decoration: none;
    margin: auto;
}

/* Contenu */
div#content {
    position: fixed;
    top: 150px;
    bottom: 40px;
    overflow-y: scroll;
    width: 100%;
}

nav#menu a.selected {
    color: white;
}

/* Pied de page */
footer {
    font-size: 1.1rem;
    position: fixed;
    bottom: 0;
    background-color: #A9B4C2;
    width: 100%;
    padding: 5px;
}